<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
<section id="container">
    <!-- Start of Main Content -->
    <section id="main-content">
        <section class="wrapper">

            <div class="row no-gutter">
                <div class="col-lg-9 col-md-9">

                    <!-- Start of Map -->
                    <div class="row map-gutter">
                        <div class="col-lg-12">
                            <div class="panel">
                                <div class="panel-footer">Dashboards</div>
                                <!--subscriber list-->
                                <div class="col-lg-2 col-md-3">
                                    <div class="pad box-pane-left bg-green" style="min-height: 180px">
                                        <header class="tab-bg-primary">
                                            <h4>Subscriber List</h4>
                                        </header>
                                        <div id="subscriber-list" class="list-subscriber" style="overflow:auto; height: 380px; min-width: 100px;">
                                            <!--list fetch from api-->

                                        </div>
                                        <!--end of subscriber list-->
                                    </div>
                                </div>
                                <!--map-->
                                <div class="col-lg-10 col-md-9">
                                    <div id="map" class="panel-body-map"></div>
                                </div>
                                <!--end of map-->
                            </div>
                        </div>
                    </div>
                    <!-- End of Map -->
                    <!--alerts datatable-->
                    <div class="row alert_panel" >
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-footer">Alert List Monitor</div>
                                <div id="alert_view" class="panel-body">
                                    <table id="alert-data-list" class="display row-border stripe pretty" cellspacing="2">
                                        <thead>
                                        <tr>
                                            <th>Timestamp</th>
                                            <th>Alert</th>
                                            <th class="text text-center">Status</th><!--status?new:pending:completed-->
                                            <th>Details</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--details-->
                <div id="detail-panel" class="col-lg-3 col-md-3">
                    <div class="panel">
                        <div class="panel-footer">Client Details</div>
                        <div id="trigger-alert" class="panel-details">
                            <div id="trigger-client" class="desc" style="min-height: 150px;">
                                <div class="thumb">
                                    <img class="img-circle" src="" width="48px" height="48px" align="">
                                </div>
                                <div class="details">
                                    <p><i class="fa fa-user"></i><span id="client-name"> John Doe</span>
                                        <br/>
                                        <i class="fa fa-home"></i><span id="client-loc"> </span>
                                        <br/>
                                        <i class="fa fa-phone"></i><span id="neighbour-call">
                        <a href="#"> Call Immediate Peer</a>
                      </span>
                                    </p>
                                </div>
                            </div>
                            <!--media-->
                            <div class="desc" style="min-height: 365px;">
                                <h4>Alerts View</h4>
                                <header class="tab-bg-primary">
                                    <ul id="deviceTabs" class="nav nav-tabs">
                                        <li class="active">
                                            <a data-toggle="tab" href="#snapshot">Snapshot</a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" href="#vod">Recording</a>
                                        </li>
                                    </ul>
                                </header>
                                <div class="tab-content">
                                    <div id="snapshot" class="tab-pane active">
                                        <img src="https://api.netatmo.com/api/getcamerapicture?image_id=5787558c6b0aff136d8b463c&key=51660b852762b0c240538ffe476908c8e38739f92d630eef11d882ca03c82864"
                                             width="100%" height="100%"
                                             alt="">
                                    </div>
                                    <div id="vod" class="tab-pane">
                                        <!--width="900.8" height="506.7"-->
                                        <!--width="331.5" height="175"-->
                                        <video id="home-video" class="video-js" controls preload="auto" width="351.5" height="200"
                                               poster="" data-setup="{}">
                                            <!--https://3.vpn.netatmo.net/10.255.8.224/4dca206b3cf237bbc61e745ece703454/O7lsiv1rsEYhMcAFSnyKhIJ-LZo,/live/index.m3u8-->
                                            <source src="https://3.vpn.netatmo.net/10.255.10.246/ff83b75e7a7de8150c85c8d92ade57c2/D8_b22ZPVNVftU7BEBrVctmMUOE,/vod/ad80bf43-09d2-4cda-86ee-82a406e84aba/index.m3u8"
                                                    type="application/x-mpegURL">
                                            <p class="vjs-no-js">
                                                To view this video please enable JavaScript, and consider upgrading to a web browser that
                                                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                            </p>
                                        </video>

                                        <script>
                                            var player = videojs('home-video');
                                        </script>
                                    </div>
                                </div>
                                <p>
                                    <br/>
                                    <!--<a href="#">Video Link</a>-->
                                </p>
                            </div>
                            <!--end of media-->
                            <!--contact-->
                            <div class="desc">
                                <h4>Emergency</h4>
                                <div class="emergency-contact">
                                    <i class="fa fa-ambulance"></i><span> 911</span>
                                    <div class="pull-right">
                                        <a class="btn btn-default" href="">
                                            <i class="fa fa-envelope" title="Message" aria-hidden="true"></i>
                                            <span class="sr-only">Message</span>
                                        </a>

                                        <a class="btn btn-success" href="">
                                            <i class="fa fa-phone" aria-hidden="true" title="Call"></i>
                                            <span class="sr-only">Call</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="emergency-contact">
                                    <i class="fa fa-user-secret"></i><span> Police</span>
                                    <div class="pull-right">
                                        <a class="btn btn-default" href="">
                                            <i class="fa fa-envelope" title="Message" aria-hidden="true"></i>
                                            <span class="sr-only">Message</span>
                                        </a>

                                        <a class="btn btn-success" href="">
                                            <i class="fa fa-phone" aria-hidden="true" title="Call"></i>
                                            <span class="sr-only">Call</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="clear" class="clearfix"></div>
                </div>
                <!--end of details-->
            </div>
        </section>
    </section>
    <!-- End of main content -->
</section>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWUMinfvGZQYP3Ow_h71CnCqYaEOrvJj0"
></script>
<script>
    var serverUrl = '<%=serverUrl %>';
    var wsUriHook  = "ws://"+serverUrl+"/ws/webhook/events",
            wsUriSubs = "ws://"+serverUrl+"/ws/subscriber/events";
    var wsWebHook, wsSubscriber;

    var mySubscriberList = [], myAlertList = [];

    var map, markers = [], geocoder;
    var table, tableData = [];
    var subscriber = $('.fill-div');
    var icon = {"red": L.divIcon({
        className: 'map-marker-red',
        iconSize: null,
        html:'<div class="icon" style="font-size:22px;"></div>'
    }),
        "blue": L.divIcon({
            className: 'map-marker-blue',
            iconSize: null,
            html:'<div class="icon" style="font-size:22px;"></div>'
        })};

    function initWs() {
        webHookSocket();
        webSubscriberSocket();
    }

    function webHookSocket() {
        wsWebHook = new WebSocket(wsUriHook);
        wsWebHook.onopen = function (evt) { onHookOpen(evt) };
        wsWebHook.onclose = function(evt) { onHookClose(evt) };
        wsWebHook.onmessage = function(evt) { onHookMessage(evt) };
        wsWebHook.onerror = function(evt) { console.log('Error '+evt.data); };
    }

    function onHookOpen(evt) {
        console.log('connected');
        wsWebHook.send(Date.now().toString(), {mask: true});
    }

    function onHookClose(evt) {
        console.log('disconnected');
        setTimeout(webHookSocket,1000);
    }

    function webSubscriberSocket() {
        wsSubscriber = new WebSocket(wsUriSubs);
        wsSubscriber.onopen = function (evt) { onSubsOpen(evt) };
        wsSubscriber.onclose = function(evt) { onSubsClose(evt) };
        wsSubscriber.onmessage = function(evt) { onSubsMessage(evt) };
        wsSubscriber.onerror = function(evt) { console.log('Error '+evt.data); };
    }

    function onSubsOpen(evt) {
        console.log('connected');
        wsSubscriber.send(Date.now().toString(), {mask: true});
    }

    function onSubsClose(evt) {
        console.log('disconnected');
        setTimeout(webHookSocket,1000);
    }

    function onHookMessage(evt) {
        console.log('hook',evt);
    }

    function onSubsMessage(evt) {
        console.log('subs',evt);
    }

    function initMap() {
        var zoom = 11;
        geocoder = new google.maps.Geocoder();
        var lat = 1.413676, lng = 103.5966996,
                latLng = new L.LatLng(lat, lng);

        map = L.map('map').setView([lat, lng], zoom);
        L.tileLayer('https://api.mapbox.com/styles/v1/imnjeeb/ciq1nl5el0032dbm4t5agojqe/tiles/256/{z}/{x}/{y}?access_token=' + '<%= access_token %>', {
            maxZoom: 18,
            attribution: 'Map data &copy; ' +
            'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'mapbox.streets'
        }).addTo(map);

        //markers.push(L.marker([lat, lng], {icon:icon}));
        //map.addLayer(markers[0]);

        subscriber.each(function(i, obj){
            searchLocation($(this).data('loc'), $(this).data('xy'))
        });
    }

    function createDetails(){}

    function createMarker(nLatLng, mIcon, mXy) {
        var subs = subscriber.find("[data-xy='"+mXy+"']");
        console.log(mXy, subs.data('name'));
        var marker = L.marker(nLatLng, {icon:mIcon}).addTo(map).on('click', function() {
            marker.valueOf()._icon.style.webkitAnimationPlayState = 'paused';
            geocodePosition(nLatLng);
            //alert(this.getLatLng());
        });
        markers.push(marker);
    }

    function searchLocation(address, xy) {
        var trimAddress = address.trim();
        trimAddress = trimAddress.replace(/\s+/g, ' ');
        console.log(trimAddress);

        var mIcon = icon.blue;
        if (xy=="2")
            mIcon = icon.red;
        GMaps.geocode({
            address: trimAddress,
            callback: function (results, status) {
//                console.log(JSON.stringify(results));
                if (status == 'OK') {
                    var eLatLng = results[0].geometry.location;
                    var latLng = new L.LatLng(eLatLng.lat(), eLatLng.lng());
                    createMarker(latLng,mIcon,xy);
                }
            }
        });
    }

    function geocodePosition(pos) {
        var ePos = objToLatLng(pos.lat, pos.lng);
        geocoder.geocode({
            latLng: ePos
        }, function (responses) {
            if (responses && responses.length > 0) {
                updateMarkerAddress(responses[0].formatted_address);
            } else {
                updateMarkerAddress('Cannot determine address at this location.');
            }
        });
    }

    function objToLatLng(lat, lng) {
        return new google.maps.LatLng(lat, lng);
    }

    function updateMarkerAddress(str) {
        $('#client-loc').text(' '+str);
    }

    // On Load
    $(function () {
        initWs();
        initMap();
        $('#subscriber-list').enscroll({
            showOnHover: false,
            verticalTrackClass: 'track3',
            verticalHandleClass: 'handle3'
        });

        $.ajax({
            url: '/api/subscribers',
            type: 'GET'
        }).done(function(d){
            if (d.statusCode == 200) {
                mySubscriberList = JSON.parse(d.Data);
                populateSubscriber();
            }
        });

//      $('[id^="to_load"]')
    });

    function populateSubscriber() {
        var imgIcon = ['fr-02', 'fr-05', 'fr-03', 'fr-06', 'fr-011', 'fr-09', 'fr-10'];

        if (mySubscriberList.length > 0) {
            mySubscriberList.forEach(function(val, index) {
                var subsId = 'subs_id_'+index;
                var mIcon = imgIcon[0];
                if (index < imgIcon.length) {
                    mIcon = imgIcon[index];
                }

                $('#subscriber-list').append(
                        '<div class="details">'+
                        '<a id="'+subsId+'" href="" class="fill-div" ' +
                        'data-xy="'+index+'" data-img="images/'+mIcon+'.jpg" ' +
                        'data-name="' + val.userId +'"'+
                        'data-deviceId="'+ val.hardwareId +'"'+
                        'data-package="'+ val.package +'"'+
                        'data-telegramId="'+ val.telegramId +'"'+
                        'data-startDate="'+ val.start_date +'"'+
                        'data-endDate=""'+ val.end_date + '"'+
                        'data-loc="'+val.location+'">'+
                        val.userId +
                        '</a>' +
                        '</div>'
                )
                var mIcon = icon.blue;

            });
        }
    }

    function extend(obj, src) {
        for (var key in src) {
            if (src.hasOwnProperty(key)) obj[key] = src[key];
        }
        return obj;
    }
</script>
<style>
    #map {
        margin: 0;
        width: auto;
        height: 420px;
    }

    .map-marker-blue {
        background:blue;
        border:9px solid rgba(255,255,255,0.2);
        color:blue;
        font-weight:bold;
        text-align:center;
        border-radius:50%;
        line-height:30px;
    }

    .map-marker-red {
        background:red;
        border:9px solid rgba(255,255,255,0.2);
        color:blue;
        font-weight:bold;
        text-align:center;
        border-radius:50%;
        line-height:30px;
        animation: blinker 1.5s linear infinite;
    }

    @keyframes blinker {
        50% { opacity: 0.0; }
    }

    .no-gutter > [class*='col-lg-'], .map-gutter > .col-lg-10 .col-md-9 {
        padding-right:0;
    }

    .no-gutter > .col-lg-3 {
        padding-left:0;
    }

    .panel-details {
        background-color: #44475a;
    }

    .panel-details .desc, .list-subscriber .details {
        border-bottom: 1px solid #eaeaea;
        display: inline-block;
        padding: 10px 0;
        width: 100%;
        font-size: 13px;
        font-weight: normal;
    }

    .panel-details .desc:hover, .list-subscriber .details:hover {
        background: #6272a4;
    }

    .panel-details .thumb {
        width: 35px;
        margin: 0 20px 0 10px;
        display: block;
        float: left;
    }

    .panel-details .details {
        width: 165px;
        padding: 5px 0;
        float: left;
        margin-left: 10px;
    }

    .panel-details > .desc p, .emergency-contact {
        font-size: 14px;
        margin-left: 10px;
    }

    .emergency-contact {
        font-size: 16px;
        padding-right: 18px;
        padding-bottom: 15px;
    }

    .panel-details .desc > h4 {
        margin-top: -8px;
        margin-left: 10px;
    }

    a.fill-div {
        margin: 5px 0 5px;
        display: block;
        text-decoration: none;
        color: inherit;
    }
</style>
</body>
</html>
