html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    color: #f8f8f2;
    background-color: #44475a;
    webkit-tap-highlight-color: #282a36;
}

a {
    color: #8be9fd;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #8be9e1;
    outline: 0;
}

table tr th {
    /*color: #688a7e;*/
    color: #f8f8f2;
}
table.pretty {
    width: 100%;
    clear: both;
    padding: 5px;
    /*background-image:linear-gradient(to bottom, rgba(68, 71, 90, 1) 0%, rgba(68, 71, 90, 1) 100%),*/
    /*linear-gradient(to bottom, rgba(68, 71, 90, 1) 0%, rgba(68, 71, 90, 1) 100%);*/
}

table.pretty thead th {
    text-align: center;
    padding: 3px;
    /*background: #66a9bd;*/
}
/* Body cells */
table.pretty tbody th {
    text-align: left;
    background: #91c5d4;
}

table.pretty tbody td {
    text-align: center;
    /*background: #d5eaf0;*/
    background: #688a7a;
}

table.pretty tbody tr.odd td {
    /*background: #bcd9e1;*/
    background: #688a8f;
}

*:focus {outline: none;}
::selection {
    background: #688a7e;
    color: #fff;
}
::-moz-selection {
    background: #688a7e;
    color: #fff;
}

/*----------------------	panel-----------------*/
.panel {
    border:none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 30px;
    background-color: #44475a;
}
.panel .panel-heading {
    line-height: 34px;
    padding: 0 15px;
    min-height: 34px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    position: relative;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
}
.panel .panel-heading .panel-title {
    line-height: 40px;
}
.panel .panel-heading i {
    width: 30px;
    display: inline-block;
    font-size: 14px;
    border-right:1px solid #282a36 ;
}
.panel .panel-heading ul li {
    border-top:1px solid #282a36 ;
    border-left:1px solid #282a36 ;
    border-right:1px solid #282a36 ;
}
.panel .panel-heading h2 {
    height: 100%;
    width: auto;
    display: inline-block;
    font-size: 14px;
    position: relative;
    margin: 0;
    line-height: 34px;
    font-weight: 400;
    letter-spacing: 0;
}
.panel .panel-heading .panel-actions {
    float: right;
    margin-right: -15px;
    height: 40px;
    font-size: 0;
}
.panel .panel-heading .panel-actions i {
    display: inline-block;
    text-align: center;
    width: 34px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    font-size: 14px;
}
.panel .panel-heading .panel-actions a {
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    line-height: 32px;
    padding: 0;
    margin: 0;
    color: #333;
    border-left: 1px solid rgba(0,0,0,.09);
}
.panel-actions .btn-setting:hover,
.panel-actions .btn-minimize:hover,
.panel-actions .btn-close:hover {
    background-color: rgba(0,0,0,.05);
}
.panel .panel-heading .switch {
    margin: 10px;
}
.panel .panel-body {
    border-width: 1px 1px 2px;
    border-style: solid;
    border-top: none;
    border-right-color: #ccc!important;
    border-bottom-color: #ccc!important;
    border-left-color: #ccc!important;
}
.panel .panel-body-map {
    border-width: 1px 1px 2px;
    border-style: solid;
    background:#44475a;
    height:380px;
    border-top: none;
    border-right-color: #ccc!important;
    border-bottom-color: #ccc!important;
    border-left-color: #ccc!important;
}
.panel .panel-body.no-padding {
    padding: 0;
}
.panel .panel-body.padding-horizontal {
    padding: 0 15px;
}
.panel .panel-body.no-padding-bottom {
    padding-bottom: 0;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #44475a;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.panel .panel-footer {
    border-width: 0 1px 2px 1px;
    border-style: solid;
    border-top: none;
    border-right-color: #ccc!important;
    border-bottom-color: #ccc!important;
    border-left-color: #ccc!important;
    position: relative;
}
.panel.panel-default {
    border-radius: 0px;
    border-top: 1px solid #d4d4d4;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
}
.panel.panel-default.panel-heading {
    background: #97d3c5;
}
.panel.panel-default .panel-footer {
    background: #f5f5f5;
}
.panel.panel-primary {
    border-color: #20a8d8;
}
.panel.panel-primary .panel-heading,
.panel.panel-primary .panel-footer {
    background: #5dc3e7;
    color: #092f3d;
    border-color: #20a8d8;
}
.panel.panel-success {
    border-color: #79c447;
}
.panel.panel-success .panel-heading,
.panel.panel-success .panel-footer {
    background: #a3d781;
    color: #284315;
    border-color: #79c447;
}
.panel.panel-info {
    border-color: #67c2ef;
}
.panel.panel-info .panel-heading,
.panel.panel-info .panel-footer {
    background: #acdef6;
    color: #106894;
    border-color: #67c2ef;
}
.panel.panel-warning {
    border-color: #fabb3d;
}
.panel.panel-warning .panel-heading,
.panel.panel-warning .panel-footer {
    background: #fcd588;
    color: #815703;
    border-color: #fabb3d;
}
.panel.panel-danger {
    border-color: #ff5454;
}
.panel.panel-danger .panel-heading,
.panel.panel-danger .panel-footer {
    background: #ffa1a1;
    color: #a10000;
    border-color: #ff5454;
}

@media (min-width: 980px) {

}

@media (min-width: 768px) and (max-width: 979px) {
    .inbox-wrapper .inbox-left {
        width: 30%;
    }

    .inbox-wrapper .inbox-right {
        width: 70%;
    }

}

@media (max-width: 768px) {
    .header {
        position: absolute;
    }

    /*sidebar*/
    #sidebar {
        height: auto;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 1001;
    }


    /* body container */
    #main-content {
        margin: 0px !important;
/*        position: none !important;*/
    }

    #sidebar > ul > li > a > span {
        line-height: 35px;
    }

    #sidebar > ul > li {
        margin: 0 10px 5px 10px;
    }
    #sidebar > ul > li > a {
        height:35px;
        line-height:35px;
        padding: 0 10px;
        text-align: left;
    }
    #sidebar > ul > li > a i{
        /*display: none !important;*/
    }

    .mail-info, .mail-info:hover {
        display: none !important;
    }
    #sidebar ul > li > a .arrow, #sidebar > ul > li > a .arrow.open {
        margin-right: 10px;
        margin-top: 15px;
    }

    #sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow,
    #sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open{
        margin-top: 15px;
    }

    #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
        width: 100%;
    }
    #sidebar > ul > li > ul.sub > li > a {
        background: transparent !important ;
    }
    #sidebar > ul > li > ul.sub > li > a:hover {
        /*background: #4A8BC2 !important ;*/
    }


    /* sidebar */
    #sidebar {
        margin: 0px !important;
    }

    /* sidebar collabler */
    #sidebar .btn-navbar.collapsed .arrow {
        display: none;
    }

    #sidebar .btn-navbar .arrow {
        position: absolute;
        right: 35px;
        width: 0;
        height: 0;
        top:48px;
        border-bottom: 15px solid #282e36;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }


    /*---------*/

    .btn {
        margin-bottom: 5px;
    }


    .inbox-wrapper aside {
        display: block;
    }

    .inbox-wrapper .inbox-left , .inbox-wrapper .inbox-right{
        width: 100% ;
    }

    /* full calendar fix */
    .fc-header-right {
        left:25px;
        position: absolute;
    }

    .fc-header-left .fc-button {
        margin: 0px !important;
        top: -10px !important;
    }

    .fc-header-right .fc-button {
        margin: 0px !important;
        top: -50px !important;
    }

    .fc-state-active, .fc-state-active .fc-button-inner, .fc-state-hover, .fc-state-hover .fc-button-inner {
        background: none !important;
        color: #FFFFFF !important;
    }

    .fc-state-default, .fc-state-default .fc-button-inner {
        background: none !important;
    }

    .fc-button {
        border: none !important;
        margin-right: 2px;
    }

    .fc-view {
        top: 0px !important;
    }

    .fc-button .fc-button-inner {
        margin: 0px !important;
        padding: 2px !important;
        border: none !important;
        margin-right: 2px !important;
        background-color: #fafafa !important;
        background-image: -moz-linear-gradient(top, #fafafa, #efefef) !important;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef)) !important;
        background-image: -webkit-linear-gradient(top, #fafafa, #efefef) !important;
        background-image: -o-linear-gradient(top, #fafafa, #efefef) !important;
        background-image: linear-gradient(to bottom, #fafafa, #efefef) !important;
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0) !important;
        -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, .8) !important;
        -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, .8) !important;
        box-shadow: 0 1px 0px rgba(255, 255, 255, .8) !important;
        -webkit-border-radius: 3px !important;
        -moz-border-radius: 3px !important;
        border-radius: 3px !important;
        color: #646464 !important;
        border: 1px solid #ddd !important;
        text-shadow: 0 1px 0px rgba(255, 255, 255, .6) !important;
        text-align: center;
    }

    .fc-button.fc-state-disabled .fc-button-inner {
        color: #bcbbbb !important;
    }

    .fc-button.fc-state-active .fc-button-inner {
        background-color: #e5e4e4 !important;
        background-image: -moz-linear-gradient(top, #e5e4e4, #dddcdc) !important;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e4e4), to(#dddcdc)) !important;
        background-image: -webkit-linear-gradient(top, #e5e4e4, #dddcdc) !important;
        background-image: -o-linear-gradient(top, #e5e4e4, #dddcdc) !important;
        background-image: linear-gradient(to bottom, #e5e4e4, #dddcdc) !important;
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#e5e4e4', endColorstr='#dddcdc', GradientType=0) !important;
    }

    .fc-content {
        margin-top: 50px;
    }

    .fc-header-title h2 {
        line-height: 40px !important;
        font-size: 12px !important;
    }

    .fc-header {
        margin-bottom:0px !important;
    }

    /*--*/

    /*.chart-position {*/
        /*margin-top: 0px;*/
    /*}*/

    .timeline-desk .album a {
        margin-bottom: 5px;
        margin-right: 4px;
    }

    .stepy-titles li {
        margin: 10px 3px;
    }

    .mail-option .btn {
        margin-bottom: 0;
    }



}


@media (max-width: 740px) {
    #task_notificatoin_bar,#mail_notificatoin_bar,#alert_notificatoin_bar{
        display: none;
    }
}

@media (max-width: 480px) {

    .notification-row,.task_notificatoin_bar, .search-row,.knob-charts, .dont-show , .inbox-head .sr-input, .inbox-head .sr-btn{
        display: none;
    }

    .inbox-wrapper aside {
        display: block;
    }

    .inbox-wrapper .inbox-left , .inbox-wrapper .inbox-right{
        width: 100% ;
    }

    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }
    .hidden-phone {
        display: none !important;
    }

    .dataTables_filter {
        float: left;
    }

    .dataTables_info {
        margin-bottom: 10px;
    }

    .mail-option .btn {
        margin-bottom: 0;
    }

    .mail-option .inbox-pagination {
        margin-top: 10px;
        float: left;
    }

    .chart-position {
       margin-top: 0px;
     }
}

@media (max-width:320px) {
    .login-social-link a {
        padding: 15px 17px !important;
    }

    .notification-row, .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
        display: none;
    }

    .inbox-wrapper aside {
        display: block ;
    }

    .inbox-wrapper .inbox-left , .inbox-wrapper .inbox-right{
        width: 100% ;
    }

    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }

    .hidden-phone {
        display: none !important;
    }

    .dataTables_filter {
        float: left;
    }

    .dataTables_info {
        margin-bottom: 10px;
    }

    .mail-option .btn {
        margin-bottom: 0;
    }

    .mail-option .inbox-pagination {
        margin-top: 10px;
        float: left;
    }

    .chart-position {
        margin-top: 0px;
    }

}




